button{
  background: #6949FD;
  width: 343px;
  height: 66.77px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s ease;



  &:hover{
    background: #5b39f5;
  }
}

.btn-green{
  animation: piscarVerde .5s ease-in-out 0s infinite ;
}

.btn-red{
  animation: piscarVermelho .5s ease-in-out 0s infinite ;
}

@keyframes piscarVermelho {
  0% {
    transform: rotate(2deg);
      background-color: #FF5252;
      border: 3px solid white;
  }
  50% {
      background-color: #fa9696;
      border: 3px solid white;
  }
  100% {
      transform: rotate(-2deg);
      background-color: #FF5252;
      border: 3px solid white;
  } 
}

@keyframes piscarVerde{
  0%{
    transform: scale(1.1, 1.1) translateY(-20px);
      background-color: #38E9BB;
      border: 3px solid white;
  }
  50%{
      background-color: #a6dfcf;
      border: 3px solid white;
  }
  100%{
    transform: scale(1, 1) translateY(0px);
      background-color: #38E9BB;
      border: 3px solid white;
  }
}