.final-score{
  display: flex;
    flex-direction: column;
      align-items: center;
      width: 90vw;
    margin: 0 auto;

  h1{
    font-size: 48px;
    color: white;
    margin-top: 25px;
  }

  ol{
      .answerTable{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 28px;
      gap: 18px;
      margin: 0;
      margin-bottom: 30px;
      justify-content: space-between;
    }
  }
  p{
    color: white;
    font-size: 24px;
    margin: 0;
    text-align: center;
  }
  h2{
    font-size: 32px;
    color: #38E9BB;
  }
  .container-buttons{
    display: flex;
    gap: 20px;
    }
    }
    
    @media screen and (max-width: 1024px) {
      .final-score {
        justify-content: space-evenly;
          height: 90vh;
        h1 {
          font-size: 28px;
    
        }
    
    
        ol {
          .answerTable {
            margin-bottom: 0;
            font-size: 24px;
              width: 80vw;
                height: 35vh;
                flex-wrap: wrap;
                max-width: 380px;
          }
        }
    
        p {
          font-size: 18px;
          width: 95vw;
            max-width: 470px;
        }
    
        h2 {
          font-size: 24px;
        }
        
                        }


 .container-buttons {
   flex-direction: column;
   gap: 20px;
 }
 }

