h1.timer{
  color: white;
  position: absolute;
  top: 115px;
  right: 75px;
  margin: 0;
}
@media screen and (max-width: 950px) {
  h1.timer {
    top: 45px;
    right: 2%;
    font-size: 20px;
  }
}